/*Links color: #2A84F3
  Button Background color: #2a84f3
  Button Background color with Hover: #216cc8
  Error Box Text Color: #a6151
  Error Box Background Color: #ff00003b 
*/

.main{
    display: grid;
    place-items: center;
    margin-top: 150px;
}

#sign-main{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    width:100%;
}

#Fpblock{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    width:100%;
}